
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #131520;
  overflow-x: hidden;
  background-color: #f0e6e6;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.dilshad-hero-thumb{
    position: relative;
    perspective: 1000px;
}

.dilshad-hero-thumb .thumb{
  border-radius: 50%;
  overflow: hidden;
}

.dilshad-hero-area{
  padding: 9vh 0;
}

.dilshad-logo-box a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.dilshad-logo-box a span{
  font-size: 1.25rem;
  color: #131520;
  font-weight: 500;
  display: inline-block;
  margin-left: 5px;
}

.dilshad-header-area{
  height: 96px;
  display: flex;
  align-items: center;
}

.btn{
    position: relative;
    display: flex;
    margin: 6px;
    padding: 8px;
    align-items: center;
    transition: all 200ms ease;
    color: #131520;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s ease;
}

.top-btn{
  justify-content: flex-end;
}

.btn img{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.btn:hover img{
  transform: translate3d(4px, -4px, 0px) scale3d(1,1,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.row-header{
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 64px;
    grid-row-gap: 48px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.content {
  max-width: 560px;
}

.btn-icon-1{
    margin-right: 8px;
    margin-left: 0px;
    line-height: initial;
}

.text-medium{
  font-weight: 500;
  font-size: 17px;
}

.dilshad-title{
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.dilshad-hero-content p{
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 64px;
  color: #131520bf;
}

.dilshad-hero-content ul{
  list-style: none;
}

.dilshad-hero-content ul li a{
  margin: 0;
}

.bg-img{
  position: absolute;
    left: -55%;
    top: auto;
    right: 0%;
    bottom: -55%;
    width: 170%;
    max-width: none;
    will-change: transform;
    transform: translate3d(11.9986px, 6.46056px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}